<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:fragment="title"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" th:href="@{/client/assets/css/main.css}">
    <link rel="stylesheet" th:href="@{/client/assets/css/grid.css}">
    <link rel="stylesheet" th:href="@{/client/assets/css/basee.css}">
    <link rel="stylesheet" th:href="@{/client/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/client/assets/css/styleinfor.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet"
          th:href="@{/client/assets/font/fontawesome-free-5.15.3-web/fontawesome-free-5.15.3-web/css/all.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="  https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <style>
        .wrapper {
            padding-top: 30px;
        }
    </style>
</head>
<body>
<div class="app">
    <div th:replace="client/fragments/header::header"></div>
    <div layout:fragment="slider"></div>
    <div class="container">
        <div layout:fragment="content"></div>
        <div th:replace="client/fragments/footer::footer"></div>
    </div>
</div>
<script layout:fragment=js></script>
<script layout:fragment=pagination></script>
</body>
</html>