<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="footer" th:fragment="footer">
    <div class="grid wide">
        <div class="row">
            <div class="col l-4">
                <h3 class="footer__herading">Chi nhánh</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <b>Store 1:</b>
                        195 ddường Chiến Thắng, Thanh Xuân, Hà Nội
                    </li>

                    <li class="footer__item">
                        <b> Hotline:</b>
                        0378945623
                    </li>

                    <li class="footer__item">
                        <b>Store 2:</b>
                        Hiệp Thuận, Phúc Thọ, Hà Nội
                    </li>

                    <li class="footer__item">
                        <b>Giờ mở cửa :</b> 9:00 - 22:00
                    </li>
                </ul>
            </div>

            <div class="col l-4">
                <h3 class="footer__herading">Về Chúng tôi</h3>
                <p class="footer__text">Vì chúng tôi hiểu rõ, đằng sau những thành công lớn lao luôn là những tâm huyết trong từng điều nhỏ nhất, đó chính là phương châm chính của Amand</p>

                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="" class="footer__item-link">
                            <i class="fab  footer_item-icon  fa-facebook"></i>
                            facebook
                        </a>
                    </li>

                    <li class="footer__item">
                        <a href="" class="footer__item-link">
                            <i class="fab   footer_item-icon fa-instagram-square"></i>
                            instagram
                        </a>
                    </li>

                    <li class="footer__item">
                        <a href="" class="footer__item-link">
                            <i class="fab footer_item-icon fa-youtube"></i>
                            Youtube
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col l-4">
                <h3 class="footer__herading">Liên hệ</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <b> Hotline :</b>
                        084 300 8176
                    </li>

                    <li class="footer__item">
                        <b>  Liên hệ hợp tác:</b>
                        083 903 2384
                    </li>

                    <li class="footer__item">
                        <b>    Email :</b>
                        NguyenXuanHieuAmandofficial.@gmail.com
                    </li>
                </ul>
                <img src="https://bizweb.dktcdn.net/100/358/122/themes/788488/assets/bct.png?1621838958247" alt="" class="img-bct">

            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="grid wide">
            <p class="footer__text-bottom">@2020 - Bản quyền thuộc về nhà phát triển Nguyễn Xuân Hiếu</p>
        </div>
    </div>
</div>
</body>
</html>