<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header class="header" th:fragment="header" style="z-index: 2;">
    <div class="grid">
        <nav class="header__navbar">
            <ul class="header__navbar-list-left ">
                <li class="header__navbar-item">
                    <a th:href="@{/trang-chu}" class="header__navbar-item-link">Home</a>
                </li>
                <li class="header__navbar-item">
                    <a th:href="@{/danh-sach-san-pham-moi}" class="header__navbar-item-link">Sản phẩm mới</a>

                </li>
                <li class="header__navbar-item header__navbar-item-has-notifyy">
                    <label class="header__navbar-item-link">
                        Bộ Sưu Tập
                    </label>
                        <div class="header__notifyy">
                            <ul class="header__notifyy-list">
                                <th:block th:each="item : ${categoryDtos}">
                                    <li class="header__notify-item">
                                        <a th:href="@{/danh-sach-san-pham(categoryId=${item.id})}"
                                           class="header__notify-item-link" th:text="${item.name}">
                                        </a>
                                    </li>
                                </th:block>

                            </ul>
                        </div>
                </li>

                <li class="header__navbar-item">
                    <a th:href="@{/danh-sach-san-pham-sale}" class="header__navbar-item-link">
                        Sale
                    </a>
                </li>

                <li class="header__navbar-item ">
                    <a href="" class="header__navbar-item-link">
                        Về chúng tôi
                    </a>
                </li>
            </ul>

            <ul class="header__navbar-list-right">
                <li class="header__navbar-item">
                    <div class="header__search">
                        <input type="text" class="header__search-input" id="searchAll" placeholder="Tìm kiếm sản phẩm ">

                    </div>
                </li>

                <th:block th:if="${fullName != null}">
                    <a th:href="@{/gio-hang}" class="header__navbar-item-link">
                        <i class="fas header__navbar-icon-cart fa-shopping-cart"></i>
                    </a>
                </th:block>

                <th:block th:if="${fullName == null}">
                    <li class="header__navbar-item">
                        <a th:href="@{/dang-nhap}" class="header__navbar-item-link header__navbar-item--separate  header__navbar-item--strong">
                            Đăng Nhập
                        </a>
                    </li>
                </th:block>



                <th:block th:if="${fullName != null}">
                    <li class="header__navbar-item">
                        <a th:href="@{/thoat}" class="header__navbar-item-link header__navbar-item--separate  header__navbar-item--strong">
                            Đăng xuất
                        </a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="#" class="header__navbar-item-link header__navbar-item--separate  header__navbar-item--strong"
                           th:text= "'Hello ' + ${fullName}">
                        </a>
                    </li>
                </th:block>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>