<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout/masterlayout.html}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Amand</title>
</head>
<body>
<div class="slider" layout:fragment="slider">
    <div class="content-slider">
        <img th:src="@{/client/assets/img/aman.png}"  alt="" class="slider__img">
    </div>
</div>
<div class="grid " layout:fragment="content">
    <th:block th:if="${categoryDto1 != null}">
        <div class="row">
            <div class="col l-12">
                <div class="product__distance">
                    <h1 class="product__distance-name" th:text="${categoryDto1.name}"></h1>
                </div>
            </div>
        </div>

        <div class="row">
            <th:block  th:each = "item : ${categoryDto1.productDtos}">
                <div class="col l-4 m-6 c-12">
                    <a th:href="@{/thong-tin-san-pham(productId=${item.id})}" class="product__item">
                        <img th:src="${item.image1}" alt="" class="product__item-img">
                        <h4 class="product__item-name" th:text="${item.name}"></h4>
                        <div class="product__item-price">
                            <div class="product-item__price-current" th:text="${item.oldPrice +' VND'}"></div>
                        </div>

                    </a>
                </div>
            </th:block>
        </div>

        <footer class="footer__btn">
            <a th:href="@{/danh-sach-san-pham(categoryId=${categoryDto1.id})}  " class="footer__btn-xtc">Xem tất cả</a>
        </footer>
    </th:block>

    <div class="row">
        <div class="col l-12">
            <div class="product__distance">
                <h1 class="product__distance-name">SẢN PHẨM NỔI BẬT</h1>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col l-9 l-o-2">
            <div class="product__item-new">
                <img th:src="${productDto.image1}" alt="" class="product__item-new-img">
                <div class="product__item-info">
                    <h3 class="product__item-heading" th:text="${productDto.name}"></h3>
                    <div class="special__price">
                        <span class="product__item-current" th:text="${productDto.oldPrice + ' VND'}"></span>
                    </div>

                    <div class="DIV">
                        <p class="text">Kích thước</p>
                    </div>
                    <div id="radiobut">
                        <th:block th:each="item : ${productDto.sizes}">
                            <div class="abc">
                                <div class="pretty p-icon p-curve p-tada" >
                                    <input type="radio" name="radio66">
                                    <div class="state p-primary-o">
                                        <i class="icon fa fa-check" aria-hidden="true"></i>
                                        <label th:text="${item}"></label>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>

                    <div class="DIV">
                        <p class="text">Màu</p>
                    </div>
                    <div id="radiobut">
                        <th:block th:each="item : ${productDto.colors}">
                            <div class="abc">
                                <div class="pretty p-icon p-curve p-tada" >
                                    <input type="radio" name="radio66">
                                    <div class="state p-primary-o">
                                        <i class="icon fa fa-check" aria-hidden="true"></i>
                                        <label th:text="${item}"></label>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>

                    <div class="DIV2">
                        <p class="text">Số lượng</p>
                    </div>
                    <div class="quantity">
                        <input onclick="var result = document.getElementById('quantity'); var qty = result.value; if( !isNaN(qty) &amp; qty > 1 ) result.value--;return false;" type='button' value='-' />
                        <input id='quantity' min='1' name='quantity' type='text' value='1' />
                        <input onclick="var result = document.getElementById('quantity'); var qty = result.value; if( !isNaN(qty)) result.value++;return false;" type='button' value='+' />
                    </div>

                    <div class="button">
                        <button class="btn btn--primary">Thêm vào giỏ hàng</button>
                        <button class="btn btn--primary">Mua ngay</button>
                    </div>

                    <div class="product__detail">
                        <a th:href="@{/thong-tin-san-pham(productId=${productDto.id})}" class="product__detail-link" >Chi tiết sản phẩm </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <th:block th:if="${categoryDto2 != null}">
        <div class="row">
            <div class="col l-12">
                <div class="product__distance">
                    <h1 class="product__distance-name" th:text="${categoryDto2.name}"></h1>
                </div>
            </div>
        </div>

        <div class="row">
                <th:block th:each="item : ${categoryDto2.productDtos}">
                    <div class="col l-4 m-4 c-12">
                        <a th:href="@{/thong-tin-san-pham}" class="product__item">
                            <img th:src="${item.image1}" alt="" class="product__item-img">
                            <h4 class="product__item-name" th:text="${item.name}"></h4>
                            <div class="product__item-price">
                                <div class="product-item__price-current" th:text="${item.oldPrice + ' VND'}"></div>
                            </div>
                        </a>
                    </div>
                </th:block>
        </div>
        <footer class="footer__btn">
            <a th:href="@{/danh-sach-san-pham(categoryId=${categoryDto2.id})}  " class="footer__btn-xtc">Xem tất cả</a>
        </footer>
    </th:block>

    <div class="row">
        <div class="col l-12">
            <div class="product__distance"></div>
        </div>
    </div>

    <div class="row">
        <div class="col l-12">
            <div class="introduce">
                <img src="https://bizweb.dktcdn.net/100/358/122/themes/788488/assets/img_tab_1.jpg?1621838958247" alt="" class="introduce__img">
                <p class="introduce__text">Ra đời vào những ngày đầu năm 2014 mang tên "AMAND" nằm trên con đường 33 Quán Thánh, Hà Nội - thương hiệu do người Việt phát triển cùng niềm đam mê bất tận với thời trang của "anh bạn trẻ" đầy nhiệt huyết
                </p>
            </div>
        </div>
    </div>

    <th:block th:if="${categoryDto3 != null}">
        <div class="row">
            <div class="col l-12">
                <div class="product__distance">
                    <h1 class="product__distance-name" th:text="${categoryDto3.name}"></h1>
                </div>
            </div>
        </div>

        <div class="row">
            <th:block th:each="item : ${categoryDto3.productDtos}">
                <div class="col l-4 m-4 c-12">
                    <a href="" class="product__item">
                        <img th:src="${item.image1}" alt="" class="product__item-img">
                        <h4 class="product__item-name" th:text="${item.name}"></h4>
                        <div class="product__item-price">
                            <div class="product-item__price-current" th:text="${item.oldPrice + ' VND'}"></div>
                        </div>
                    </a>
                </div>
            </th:block>
        </div>

        <footer class="footer__btn">
            <a th:href="@{/danh-sach-san-pham(categoryId=${categoryDto3.id})}  " class="footer__btn-xtc">Xem tất cả</a>
        </footer>
    </th:block>

</div>
</body>
</html>