<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="../assets/font/fontawesome-free-5.15.3-web/fontawesome-free-5.15.3-web/css/all.min.css">

</head>
<body>
<div class='wrapper'>
    <div class='content'>
        <header class='content-header'>
            <i class="fa-solid fa-circle-xmark header-icon header-icon-error"></i>
                <h2 class='header-title header-title-error'>Giao dịch thất bại</h2>
                <span>Amand cảm ơn quý khách đã tin tưởng và lựa chọn dịch vụ của chúng tôi</span>
            <hr></hr>
        </header>
        <div class='payment-info'>
            <p class='payment-info-title'>Đã xảy ra lỗi trong quá trình giao dịch</p>
        </div>
        <div class='payment-redirect'>
            <a href="/home" class='payment-btn'>
                Trở về trang chủ
            </a>
        </div>
    </div>
</div>
</body>
</html>
