<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access Denied</title>
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,400i" />
    <link rel="stylesheet" th:href="@{/403/style.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="box">
        <h1>403</h1>
        <p>Bạn không có quyền truy cập trang này</p>
        <p><a th:href="@{/dang-nhap}">Quay lại</a></p>
    </div>
</div>
</body>
</html>