<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:fragment="title">Đăng nhập</title>
    <link rel="stylesheet" th:href="@{/client/assets/css/login.css}">
    <link rel="stylesheet" th:href="@{/client/assets/font/fontawesome-free-5.15.3-web/fontawesome-free-5.15.3-web/css/all.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
</head>
<body>
<header class="main-header">
    <h1> <a href="/trang-chu"> A M A N D </a></h1>
</header>
<div class="login__box">
    <h1>ĐĂNG NHẬP</h1>
    <form th:action="@{/j_spring_security_check}" method="post">
        <div class="textbox" >
            <i class="far fa-user"></i>
            <input type="text" placeholder="Tên đăng nhập" name="username" id="username">
        </div>

        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Mật khẩu" name="password" id="password">
        </div>
        <div class="button">
            <input class="btn" type="submit" value="Đăng nhập">
            <span class="btn-re">
                <a th:href="@{/dang-ky}" class="entypo-user-add register">Đăng ký</a>
              </span>
        </div>
    </form>
</div>
</div>
</body>
</html>