<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/masterlayout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông tin màu sản phẩm</title>
    <style>
        .msg_success {
            color: green;
        }
    </style>
</head>
<body>
<div class="page-heading" layout:fragment="pageheading" >
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/home">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Thông tin màu sản phẩm</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <h3 class="msg_success" th:if="${messageSuccess != null}" th:text="${messageSuccess}"></h3>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Thông tin màu sản phẩm</h4>
            </div>
            <div class="card-body">
                <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Tên màu sản phẩm</label>
                                <p class="form-control" th:text="${colorDto.name}">
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>