<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/masterlayout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách đơn hàng</title>
</head>
<body>
<div class="page-heading" layout:fragment="pageheading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Danh sách đơn hàng</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/home">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Danh sách đơn hàng</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                Dữ liệu đơn hàng
            </div>
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                    <tr>
                        <th>Họ và tên</th>
                        <th>Mã đơn hàng</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Ghi chú</th>
                        <th>Phụ thu</th>
                        <th>Phí vận chuyển</th>
                        <th>Tổng thu</th>
                        <th>Chi tiết</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="item : ${orderDtos}">
                        <tr>
                            <td th:text="${item.fullName}"></td>
                            <td th:text="${item.codeOrder}"></td>
                            <td th:text="${item.phone}"></td>
                            <td th:text="${item.address}"></td>
                            <td th:text="${item.note}"></td>
                            <td th:text="${@getUtils.formatMoney(item.subtotal)}"></td>
                            <td th:text="${@getUtils.formatMoney(item.transportFee)}"></td>
                            <td th:text="${@getUtils.formatMoney(item.totalPrice)}"></td>
                            <td>
                                <a class="btn btn-sm btn-primary btn-edit" data-toggle="tooltip"
                                   title="Chi tiết đơn hàng" th:href="@{/admin/chi-tiet-don-hang-moi(orderId=${item.id})}">
                                    <i class="bi bi-info"></i>
                                </a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
                <div class="container">
                    <nav aria-label="Page navigation ">
                        <ul class="pagination d-flex justify-content-center" id="pagination"></ul>
                    </nav>
                </div>
                <form id="formSubmit">
                    <input type="hidden" value="" id="page" name="page"/>
                    <input type="hidden" value="" id="limit" name="limit"/>
                </form>
            </div>
        </div>

    </section>
</div>
<script layout:fragment="js" th:inline="javascript">
    var currentPage = [[${page}]];
    var totalPages = [[${totalPages}]]
    $(function () {
       window.pagObj = $('#pagination').twbsPagination({
          totalPages : totalPages,
          startPage : currentPage,
          visiblePages : 10,
          onPageClick : function (event, page) {
              if (currentPage != page) {
                  $('#page').val(page);
                  $('#limit').val(5);
                  $('#formSubmit').submit();
              }
          }
       });
    });
</script>
</body>
</html>