<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/masterlayout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Danh sách màu sản phẩm</title>
</head>
<body>
<div class="page-heading" layout:fragment="pageheading">
  <div class="page-title">
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 order-last">
        <h3>Danh sách màu sản phẩm</h3>
      </div>
      <div class="col-12 col-md-6 order-md-2 order-first">
        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/home">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Danh sách màu sản phẩm</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="card">
      <div class="card-header py-4 d-flex justify-content-between">
        Dữ liệu bảng màu
          <div class="d-flex flex-row-reverse">
            <button id="btnHide" type="button" onclick="warningBeforeDelete()"
                class="dt-button buttons-html5 btn btn-white btn-primary btn-bold" data-toggle="tooltip" title='Ẩn'>
																<span>
																	<i class="bi bi-eye-slash"></i>
																</span>
            </button>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped" id="table1">
          <thead>
          <tr>
            <th><input type="checkbox" id="checkAll"> <label for="checkAll">Chọn tất cả</label></th>
            <th>Name</th>
            <th>Thao tác</th>
          </tr>
          </thead>
          <tbody>
          <th:block th:each = "item : ${colorDtos}">
            <tr>
              <td><input type="checkbox" name="checkOne" class="checkboxForColor" th:id="'checkbox_'+${item.id}" th:value="${item.id}"></td>
              <td class="text-bold-500" th:text="${item.name}"></td>
              <td> <a class="btn btn-sm btn-primary btn-edit" data-toggle="tooltip"
                      title="Chỉnh sửa màu sản phẩm" th:href="@{/admin/chinh-sua-mau-san-pham(id=${item.id})}">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
              </td>
            </tr>
          </th:block>
          </tbody>
        </table>
        <div class="container">
          <nav aria-label="Page navigation ">
            <ul class="pagination d-flex justify-content-center" id="pagination"></ul>
          </nav>
        </div>
        <form id="formSubmit">
          <input type="hidden" value="" id="page" name="page"/>
          <input type="hidden" value="" id="limit" name="limit"/>
        </form>
      </div>
    </div>

  </section>
</div>

<script layout:fragment="js" th:inline="javascript">
  var totalPages = [[${totalPage}]];
  var currentPage = [[${page}]];
  $(function (e) {
    window.pagObj = $('#pagination').twbsPagination({
      totalPages : totalPages,
      visiblePages : 10,
      startPage : currentPage,
      onPageClick: function (event, page) {
        if (currentPage != page) {
          $('#limit').val(3);
          $('#page').val(page);
          $('#formSubmit').submit();
        }
      }
    });
  });

  function warningBeforeDelete(){
    swal({
      title: "Xác nhận ẩn",
      text: "Bạn có chắc chắn muốn ẩn hay không",
      type: "warning",
      showCancelButton: true,
      confirmButtonClass: "btn-success",
      cancelButtonClass: "btn-danger",
      confirmButtonText: "Xác nhận",
      cancelButtonText: "Huỷ bỏ",
    }).then(function(isConfirm) {
      if (isConfirm.value) {
        var ids = $('tbody input[type=checkbox]:checked').map(function () {
          return $(this).val();
        }).get();
        hideColor(ids);
      }
    });
  }

  function hideColor(data) {
    $.ajax({
      url : '/api/hide-color',
      type : 'PUT',
      contentType : 'application/json',
      data : JSON.stringify(data),
      success : function (result) {
        alert("Cập nhật thành công");
        window.location.replace("/admin/danh-sach-mau-bi-an");
      },
      error : function (result) {
        console.log(result);
        if (!!result) {
          alert(result.responseText);
        } else {
          alert("Có lỗi xảy ra");
          window.location.reload();
        }
      }
    });
  }

  $('#checkAll').click(function (){
    if ($(this).is(':checked')) {
      $('.checkboxForColor').prop('checked', true);
      $('#btnHide').prop('disabled', false);
    } else {
      $('.checkboxForColor').prop('checked', false);
      $('#btnHide').prop('disabled', true);
    }
  });

  $('.checkboxForColor').click(function () {
    countChecked();
  });

  let countChecked = function () {
    let count = $("input[name='checkOne']:checked").length;
    if (count < 1) {
      $('#btnHide').prop('disabled', true);
    } else {
      $('#btnHide').prop('disabled', false);
    }
  };

  countChecked();

</script>
</body>
</html>