<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div id="sidebar" class="active" th:fragment="menu">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item active ">
                    <a href="/admin/home" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Trang chu</span>
                    </a>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Quan ly the loai san pham</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="/admin/danh-sach-the-loai-san-pham">Danh sach the loai san pham</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/them-the-loai">Them the loai</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-hexagon-fill"></i>
                        <span>Quan ly san pham</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="/admin/danh-sach-san-pham">Danh sach san pham</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/them-san-pham">Them san pham</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/them-mau-sac">Them mau sac san pham</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/them-kich-thuoc">Them kich thuoc san pham</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/danh-sach-anh-san-pham">Danh sach anh san pham</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/them-anh">Them anh san pham</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/them-mua">Them mua san pham</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-grid-1x2-fill"></i>
                        <span>Quan ly don hang</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="/admin/tao-don-hang">Tao don hang</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/danh-sach-don-hang">Danh sach don hang</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-person-badge-fill"></i>
                        <span>Quan ly nhan vien</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="/admin//danh-sach-tai-khoan-admin">Danh sach tai khoan</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/tao-tai-khoan-admin">Tao tai khoan nhan vien</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</body>
</html>