<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div id="sidebar" class="active" th:fragment="menu">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <a th:href="@{/admin/thong-tin-tai-khoan}">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-xl">

                            <img th:src="${userDto.avatar}" style="height: 60px!important;" alt="Face 1">
                        </div>
                        <div class="ms-3 name">
                            <h5 th:text="${userDto.fullName}"></h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item active ">
                    <a href="/admin/home" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Trang chủ</span>
                    </a>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-hexagon-fill"></i>
                        <span>Quản lý sản phẩm</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="/admin/danh-sach-san-pham">Danh sách sản phẩm</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/them-san-pham">Thêm sản phẩm</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/danh-sach-san-pham-bi-an">Đã ẩn gần đây</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Quản lý thể loại</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="/admin/danh-sach-the-loai-san-pham">Danh sách thể loại</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/them-the-loai">Thêm thể loại</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/danh-sach-the-loai-bi-an">Đã ẩn gần đây</a>
                        </li>

                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-palette-fill"></i>
                        <span>Quản lý màu sắc</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="/admin/danh-sach-mau-san-pham">Danh sách màu sản phẩm</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/them-mau-sac">Thêm màu sắc sản phẩm</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/danh-sach-mau-bi-an">Đã ẩn gần đây</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-aspect-ratio-fill"></i>
                        <span>Quản lý kích thước</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="/admin/danh-sach-kich-thuoc">Danh sách kích thước sản phẩm</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/them-kich-thuoc">Thêm kích thước sản phẩm</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/danh-sach-kich-thuoc-bi-an">Đã ẩn gần đây</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-grid-1x2-fill"></i>
                        <span>Quản lý đơn hàng</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="/admin/danh-sach-don-hang-moi">Danh sách đơn hàng mới</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/danh-sach-don-hang">Danh sách đơn hàng</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/danh-sach-don-hang-bi-huy">Danh sách đơn hàng bị huỷ</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-person-badge-fill"></i>
                        <span>Quản lý nhân viên</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="/admin/quan-tri/danh-sach-tai-khoan-admin">Danh sách tài khoản</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/quan-tri/tao-tai-khoan-admin">Tạo tài khoản nhân viên</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/admin/quan-tri/danh-sach-tai-khoan-bi-an">Đã ẩn gần đây</a>
                        </li>
                    </ul>
                </li>

                <li class="header__navbar-item">
                    <a th:href="@{/thoat}" class="header__navbar-item-link header__navbar-item--separate  header__navbar-item--strong">
                        Đăng xuất
                    </a>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>
</body>
</html>